[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "python main.py"

[packages]
pandas = "*"
tabulate = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.*"
